#footer {
    .inner {
        padding: 20px 0;
    }
    a {
        color: #337ab7;
        font-weight: bold;
        &:hover {
            color: #23527c;
            text-decoration: underline;
            transition: all 0.3s ease 0s;
        }
    }
    background-color: lighten($main-color, 27%);
}
.copyright {
    text-align: center;
}

